#about
  .splash
    margin-bottom: -3em
  .ui.horizontal.list
    > .item
      padding: 3px 5px !important
      margin-left: 0
      margin-right: 5px
      background-color: var(--pink)
      border-radius: 3px
      border: 1px solid var(--dark-pink)
      
        
