.menu.chunk
  &.body
    overflow: hidden
    flex-grow: 1
    border-left: 1px solid #d4d4d5
    border-right: 1px solid #d4d4d5
  .icon.item
    &:first-child
      margin-right: -1px
    &:last-child
      margin-left: -1px